/*For Firefox*/
 
.spin-button-none[type=number] {
    -moz-appearance: textfield;
  }

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    appearance: none;
}

.gelatine {
  animation: gelatine 0.5s ;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.animate-scale {
  animation: scale 0.2s;
  transform-origin: 0% 0% ;
}

.animate-scale-reverse {
  animation: scale 0.2s reverse forwards;
  transform-origin: 0% 0% ;
}


@keyframes scale {
  0%{
    transform: scaleY(0)
  }
  100%{
    transform: scaleY(1)
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;